<ion-header>
  <ion-toolbar>
    <ion-title>JumpJamz</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="homeNav()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!--Have a heading that asks the user to select a song or connect to bluetooth-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Witch Doctor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/photos/kotahitanga/k1.png"/>
        <img src="assets/photos/coconut/c2.png"/>
        <img src="assets/photos/moving/m3.png"/>
        <img src="assets/photos/kotahitanga/k4.png"/>
        <img src="assets/photos/kotahitanga/k5.png"/>
      </ion-card-content>
      </ion-card>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col class = "ion-text-center">
          <ion-button fill = "clear" (click)="playPause(true)" color = "light" *ngIf="playing" >
            <ion-icon slot = "icon-only" name="pause"></ion-icon>
          </ion-button>
          <ion-button fill = "clear" (click)="playPause(false)" color = "light" *ngIf="!playing" >
            <ion-icon slot = "icon-only" name="play"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
  